Задание 1  
Датасет для домашнего задания вы найдете:  
в материалах к лекции «Библиотека Pandas», файл “Дополнительные файлы для домашнего задания” (актуально для групп до PYDA-59)
файлы для домашнего задания «Библиотека Pandas» ( актуально с группы PYDA-59 и далее).  
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

data1 = pd.read_csv('/content/movies.csv', sep = ',')
data2 = pd.read_csv('/content/ratings.csv', sep = ',')

"""объединяем датафреймы"""
merge_data = pd.merge(data1, data2, on='movieId', how = 'inner')
"""Фильтруем строки с рейтингом 5.0"""
rating = merge_data.query("rating == 5.0")
"""Группируем данные по названию фильма и считаем количество оценок 5.0"""
rating_count = rating.groupby('title')['rating'].count()
"""находим фильм у которого больше всего оценок 5.0"""
max_film_rating = rating_count.idxmax()

print(max_film_rating)

Shawshank Redemption, The (1994)

Задание 2  
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [ ]:
import pandas as pd

dt = pd.read_csv('/content/power.csv', sep = ',')
"""создаем условия для фильтров"""
pribaltica = ['Estonia','Latvia','Lithuania']
categories = [4,12,21]
years = range(2005,2011)
"""применяем фильтры"""
filter_dt = dt[
    (dt['country'].isin(pribaltica)) &
    (dt['category'].isin(categories)) &
    (dt['year'].isin(years)) &
    (dt['quantity'] >=0 )
]

print(filter_dt.head(20))

         country  year  quantity  category
10617    Estonia  2008       1.0       4.0
10618    Estonia  2007       0.0       4.0
10619    Estonia  2006       0.0       4.0
10620    Estonia  2005       1.0       4.0
11156  Lithuania  2008       1.0       4.0
11157  Lithuania  2007       0.0       4.0
11158  Lithuania  2006       1.0       4.0
11159  Lithuania  2005       1.0       4.0
12755    Estonia  2008       1.0       4.0
12756    Estonia  2007       0.0       4.0
12757    Estonia  2006       0.0       4.0
12758    Estonia  2005       1.0       4.0
13294  Lithuania  2008       1.0       4.0
13295  Lithuania  2007       0.0       4.0
13296  Lithuania  2006       1.0       4.0
13297  Lithuania  2005       1.0       4.0
14647     Latvia  2010       0.0       4.0
14648     Latvia  2009       0.0       4.0
14649     Latvia  2008       0.0       4.0
14650     Latvia  2007       0.0       4.0

Задание 3   
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.  
Примеры страниц:

https://fortrader.org/quotes  
pythonworld.ru...strok.html

In [ ]:

"""Использует библиотеку requests для получения HTML-кода страницы"""
import requests
"""Парсит HTML-код с помощью библиотеки BeautifulSoup"""
from bs4 import BeautifulSoup
import pandas as pd

"""Получаем HTML-код страницы"""
url = 'https://fortrader.org/quotes'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
"""Находим таблицы на странице"""
tables = soup.find_all('table')
"""Извлекаем данные из таблицы"""
df = pd.read_html(str(tables[0]))[0]
print(df.head())

                           Название    Цена  Изменение  Изменение(%)  \
0  EURRUB Курс евро к рублю сегодня  108.19      -0.42         -0.39
1       USDRUB Курс рубля к доллару  103.84      -0.28         -0.27

   Обновлено
0        NaN
1        NaN

<ipython-input-2-d784e2816527>:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables[0]))[0]